### Financial Analysis of an Index
#### About S&P
The Standard and Poor's 500, or simply the S&P 500, is a stock market index tracking the stock performance of 500 of the largest companies listed on stock exchanges in the United States. It is one of the most commonly followed equity indices and includes approximately 80% of the total market capitalization of U.S. public companies, with an aggregate market cap of more than $43 trillion as of January 2024.
Following is the URL to a dataset that updates regularly and provides list of S&P constituents in CSV format.

### Q1: House keeping

#### 1.1 Load data into a Pandas dataframe.

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasets/s-and-p-500-companies-financials/refs/heads/main/data/constituents-financials.csv")
df

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M,Industrial Conglomerates,128.47,13.368367,0.0220,9.61,75.652176,141.34,6.995949e+10,8.117000e+09,2.143498,15.071563,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A. O. Smith,Building Products,75.10,19.815304,0.0179,3.79,70.300000,92.45,1.100658e+10,8.091000e+08,2.826694,5.681216,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care Equipment,113.37,34.564026,0.0192,3.28,92.430000,121.64,1.972525e+11,1.064100e+10,4.785706,5.016816,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie,Biotechnology,203.87,71.283220,0.0327,2.86,135.850000,207.32,3.601037e+11,2.612100e+10,6.547340,34.748592,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture,IT Consulting & Other Services,344.82,30.115286,0.0171,11.45,278.690000,387.51,2.165563e+11,1.106591e+10,3.336950,7.621679,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrial Machinery & Supplies & Components,121.78,34.994250,0.0111,3.48,93.860000,146.08,3.162956e+10,1.622000e+09,3.767217,2.892980,http://www.sec.gov/cgi-bin/browse-edgar?action...
499,YUM,Yum! Brands,Restaurants,131.16,24.021978,0.0204,5.46,122.790000,143.20,3.750454e+10,2.627000e+09,5.278613,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
500,ZBRA,Zebra Technologies,Electronic Equipment & Instruments,381.97,51.827682,NaN,7.37,198.190000,394.57,1.983467e+10,8.030000e+08,4.260024,5.754900,http://www.sec.gov/cgi-bin/browse-edgar?action...
501,ZBH,Zimmer Biomet,Health Care Equipment,106.92,20.404581,0.0087,5.24,101.470000,133.90,2.128499e+10,2.541400e+09,2.802316,1.746716,http://www.sec.gov/cgi-bin/browse-edgar?action...
502,ZTS,Zoetis,Pharmaceuticals,178.78,35.054900,0.0097,5.10,144.800000,201.92,8.279051e+10,3.645000e+09,9.286653,16.337385,http://www.sec.gov/cgi-bin/browse-edgar?action...

#### 1.2 Rename columns to remove spaces.

In [2]:
df.columns

Index(['Symbol', 'Name', 'Sector', 'Price', 'Price/Earnings', 'Dividend Yield',
       'Earnings/Share', '52 Week Low', '52 Week High', 'Market Cap', 'EBITDA',
       'Price/Sales', 'Price/Book', 'SEC Filings'],
      dtype='object')

In [3]:
df.columns = df.columns.str.replace(" ", "")
df.columns

Index(['Symbol', 'Name', 'Sector', 'Price', 'Price/Earnings', 'DividendYield',
       'Earnings/Share', '52WeekLow', '52WeekHigh', 'MarketCap', 'EBITDA',
       'Price/Sales', 'Price/Book', 'SECFilings'],
      dtype='object')

#### 1.3 Convert "Market Cap" in Billions

In [4]:
df[['Name','MarketCap']].tail()

                   Name     MarketCap
498          Xylem Inc.  3.162956e+10
499         Yum! Brands  3.750454e+10
500  Zebra Technologies  1.983467e+10
501       Zimmer Biomet  2.128499e+10
502              Zoetis  8.279051e+10

In [5]:
df['MarketCap'] = df['MarketCap'] / (10**9)
df[['Name','MarketCap']].tail()

                   Name  MarketCap
498          Xylem Inc.  31.629556
499         Yum! Brands  37.504545
500  Zebra Technologies  19.834671
501       Zimmer Biomet  21.284991
502              Zoetis  82.790515

#### 1.4 Convert "EBITDA" in Millions.

In [6]:
df[['Name', 'EBITDA']].tail()

                   Name        EBITDA
498          Xylem Inc.  1.622000e+09
499         Yum! Brands  2.627000e+09
500  Zebra Technologies  8.030000e+08
501       Zimmer Biomet  2.541400e+09
502              Zoetis  3.645000e+09

In [7]:
df['EBITDA'] = df['EBITDA'] / (10**6)
df[['Name', 'EBITDA']].tail()

                   Name       EBITDA
498          Xylem Inc.  1622.000000
499         Yum! Brands  2627.000064
500  Zebra Technologies   803.000000
501       Zimmer Biomet  2541.400064
502              Zoetis  3644.999936

### Q2: Sector based data

#### Compute Average Price/Earnings and Average Market Cap for each sector.

#### 2.1 Display top and bottom 5 by highest and lowest average Price/Earnings.

In [8]:
top_5, bottom_5 = (df.groupby('Sector')['Price/Earnings'].mean().sort_values(ascending=False).reset_index(),
                         df.groupby('Sector')['Price/Earnings'].mean().sort_values(ascending=True).reset_index())

In [9]:
print("Top 5 Companies by Highest Average P/E Ratio:\n")
top_5.head()

Top 5 Companies by Highest Average P/E Ratio:

                    Sector  Price/Earnings
0           Regional Banks             inf
1            Biotechnology      180.085067
2  Other Specialized REITs      158.628220
3    Electronic Components      144.495470
4         Systems Software      123.407826

In [10]:
print("\nBottom 5 Companies by Lowest Average P/E Ratio:\n")
bottom_5.head()

Bottom 5 Companies by Lowest Average P/E Ratio:

                             Sector  Price/Earnings
0                       Reinsurance        5.546007
1      Automotive Parts & Equipment        6.306658
2                Passenger Airlines        8.631985
3                           Brewers        9.994496
4  Agricultural Products & Services       10.823465

#### 2.2 Display top and bottom 5 by highest and lowest average Market Cap.

In [11]:
top_5_market_cap, bottom_5_market_cap = (df.groupby('Sector')['MarketCap'].mean().sort_values(ascending=False).reset_index(),
                         df.groupby('Sector')['MarketCap'].mean().sort_values(ascending=True).reset_index())

In [12]:
print("Top 5 Companies by Highest MarketCap:\n")
top_5_market_cap.head()

Top 5 Companies by Highest MarketCap:

                                       Sector    MarketCap
0                Interactive Media & Services  1413.093262
1                            Broadline Retail   992.251071
2                            Systems Software   581.440031
3  Technology Hardware, Storage & Peripherals   459.413242
4                              Semiconductors   348.379021

In [13]:
print("\nBottom 5 Companies by Lowest MarketCap:\n")
bottom_5_market_cap.head()

Bottom 5 Companies by Lowest MarketCap:

                         Sector  MarketCap
0                   Drug Retail   8.179277
1              Home Furnishings   8.539680
2              Leisure Products   9.292880
3                       Brewers  11.499761
4  Automotive Parts & Equipment  11.944294

### Q3: Companies with losses

#### Find list of companies that are not making any profits. Find 5 largest companies that are not are not profitable.

In [14]:
non_profitable_companies = df[(df['EBITDA'] <= 0)]
largest_non_profitable_companies = non_profitable_companies.nlargest(5,'MarketCap')
largest_non_profitable_companies[['Name', 'Sector','MarketCap', 'Earnings/Share', 'EBITDA']]

,Name,Sector,MarketCap,Earnings/Share,EBITDA
67,Boeing,Aerospace & Defense,112.739795,-12.95,-3991.000064
322,Moderna,Biotechnology,20.895767,-15.35,-4107.000064
13,Albemarle Corporation,Specialty Chemicals,11.226737,-4.72,-840.955008

### Q4: Top 3 sectors in S&P

#### Compute count of companies for each sector and

####  - display top 3 sectors with maximum number of companies

 without sorting using nlargest

In [15]:
top_3_sector = df.groupby('Sector')['Name'].count().nlargest(3)
top_3_sector = top_3_sector.reset_index()
top_3_sector.columns = ['Sector', 'NumberOfCompanies']
top_3_sector

                  Sector  NumberOfCompanies
0  Health Care Equipment                 18
1     Electric Utilities                 15
2         Semiconductors                 15

or with sorting in descending order and using head

In [16]:
top_3_sector = df.groupby('Sector')['Name'].count().sort_values(ascending=False).reset_index(name='NumberOfCompanies')
top_3_sector.head(3)

                  Sector  NumberOfCompanies
0  Health Care Equipment                 18
1         Semiconductors                 15
2     Electric Utilities                 15

or using value_counts and head

In [17]:
top_3_sector = df["Sector"].value_counts().reset_index()
top_3_sector.columns = ["Sector","NumberOfCompanies"]
top_3_sector.head(3)

                  Sector  NumberOfCompanies
0  Health Care Equipment                 18
1         Semiconductors                 15
2     Electric Utilities                 15

#### - display bottom 3 sectors with least number of companies

without sorting using nsmallest

In [18]:
bottom_3_sector = df.groupby('Sector')['Name'].count().nsmallest(3)
bottom_3_sector = bottom_3_sector.reset_index()
bottom_3_sector.columns = ['Sector', 'NumberOfCompanies']
bottom_3_sector

                          Sector  NumberOfCompanies
0  Agricultural & Farm Machinery                  1
1                        Brewers                  1
2            Commodity Chemicals                  1

 or with sorting in ascending order and using head

In [19]:
bottom_3_sector = df.groupby('Sector')['Name'].count().sort_values(ascending=True).reset_index(name='NumberOfCompanies')
bottom_3_sector.head(3)

                                Sector  NumberOfCompanies
0  Wireless Telecommunication Services                  1
1                  Commodity Chemicals                  1
2                     Leisure Products                  1

or using value_counts and tail

In [20]:
bottom_3_sector = df["Sector"].value_counts().reset_index()
bottom_3_sector.columns = ["Sector","NumberOfCompanies"]
bottom_3_sector.tail(3)

                                Sector  NumberOfCompanies
124              Multi-Sector Holdings                  1
125  Metal, Glass & Plastic Containers                  1
126                       Timber REITs                  1

### Q5: Find largest and smallest 3 companies by "Market Cap"

In [21]:
largest_marketCap = df.nlargest(3, 'MarketCap')
largest_marketCap = largest_marketCap[['Symbol','Name', 'MarketCap']].reset_index(drop=True)
largest_marketCap

  Symbol        Name    MarketCap
0   AAPL  Apple Inc.  3434.758275
1   NVDA      Nvidia  3256.602591
2   MSFT   Microsoft  3021.163463

In [22]:
smallest_marketCap = df.nsmallest(3, 'MarketCap')
smallest_marketCap = smallest_marketCap[['Symbol','Name', 'MarketCap']].reset_index(drop=True)
smallest_marketCap

  Symbol        Name  MarketCap
0   QRVO       Qorvo   6.922011
1   AMTM     Amentum   7.235802
2    BWA  BorgWarner   7.659871

## --end--